{% extends "base.html.twig" %}


{% block body %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

	<style>
		.rating {
			position: relative;
			width: 180px;
			background: transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.3em;
			padding: 5px;
			overflow: hidden;
			border-radius: 20px;
			box-shadow: 0 0 2px #b3acac;
		}

		.rating__result {
			position: absolute;
			top: 0;
			left: 0;
			transform: translateY(-10px) translateX(-5px);
			z-index: -9;
			font: 3em Arial, Helvetica, sans-serif;
			color: #ebebeb8e;
			pointer-events: none;
		}

		.rating__star {
			font-size: 1.3em;
			cursor: pointer;
			color: #dabd18b2;
			transition: filter linear 0.3s;
		}

		.rating__star:hover {
			filter: drop-shadow(1px 1px 4px gold);
		}
	</style>

	<div class="row justify-content-between mt-5">


		<div class="card col-md-4" style="width: 18rem;">
			<img src="{{ asset('upload/')~produit.photo1 }}" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{  produit.titre   }}</h5>
				<h5 class="card-title">{{  produit.prix   }}
					€</h5>
				<p class="card-text">{{  produit.descriptif  }}</p>


				<form class="mt-4" action="{{ path('detailProduit', {id:produit.id}) }}" method='post'>
					<div class="rating">
						<span class="rating__result"></span>
						<i class="rating__star far fa-star"></i>
						<i class="rating__star far fa-star"></i>
						<i class="rating__star far fa-star"></i>
						<i class="rating__star far fa-star"></i>
						<i class="rating__star far fa-star"></i>
					</div>
					<input type="hidden" id='note' name='note'>
					<input type="hidden"  name='produit' value="{{ produit.id }}">
					<div class="form-group">
						<label for="exampleTextarea" class="form-label mt-4">commentaire</label>
						<textarea class="form-control border" name="commentaire" id="exampleTextarea" rows="1"></textarea>
					</div>
					<button type="submit" class="btn mt-2 btn-sm btn-primary">Soumettre</button>
				</form>
			</div>
		</div>


	</div>


	<script>
		const ratingStars = [...document.getElementsByClassName("rating__star")];
const ratingResult = document.querySelector(".rating__result");
let note=document.getElementById('note');

printRatingResult(ratingResult);

function executeRating(stars, result) {
const starClassActive = "rating__star fas fa-star";
const starClassUnactive = "rating__star far fa-star";
const starsLength = stars.length;
let i;
stars.map((star) => {
star.onclick = () => {
i = stars.indexOf(star);

if (star.className.indexOf(starClassUnactive) !== -1) {
printRatingResult(result, i + 1);
let rating=0;
for (i; i >= 0; -- i) 
stars[i].className = starClassActive;



} else {
printRatingResult(result, i);
for (i; i < starsLength; ++ i) 
stars[i].className = starClassUnactive;



}
};
});
}

function printRatingResult(result, num = 0) {
result.textContent = `${num}/5`;
note.value=num
}

executeRating(ratingStars, ratingResult);
	</script>

{% endblock %}
